{% extends 'global/base.html' %} 

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{ contact.first_name }} {{ contact.last_name }}
        </h1>

        <p><b>ID</b> {{ contact.id }}</p>
        <p><b>Data CRIADA</b> {{ contact.created_date }}</p>
        <p><b>NOME</b> {{ contact.first_name }} {{ contact.last_name }}</p>
        <p><b>TELEFONE</b> {{ contact.phone }}</p>
        <p><b>EMAIL</b> {{ contact.email }}</p>
        <p><b>CATEGORIA</b> {{ contact.category.name }}</p>
        <p><b>Descrição</b> {{ contact.description }}</p>
    </div>
{% endblock content %}